*{
    scroll-behavior: smooth;
}
body{
    background-image: url('ps.gif');
    background-size: cover;
}
.container{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    word-spacing: 4px;
    font-size: 25px;
}
.container :hover{
    color: hotpink;
}
.img{
    width: 380px;
    height: 500px;
    margin-left: 500px;
    border-radius: 30%;
}
.pic {
    width: 100px;
    height: 100px;
    border-radius: 50%; 
    margin-left: 150px;
}
.jpg{
    margin-top: 40px;
    width: 900px;
    object-position: center;
}
.con {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.nayn-sec{
    margin-left: 100px;
    font-size: 20px;
}
.nayn-h1{
    color: salmon;
    text-align: center;
    text-transform: uppercase;
    margin-top: 100px;
}
.nayn-h1{
    color: salmon;
    text-align: center;
}
.nayn-h{
    color: mediumspringgreen;
    text-align: center;
}
.nayn-ul{
    color: royalblue;
    align-items: center;
}
.nayn-h2{
    color: darkorange;
}
.navbar{
    font-size: 20px;
}
.dropbtn{
    font-size: 50px;
    font-style: italic;
    color: darksalmon;
    margin-left: 100px;
}
.dropdown {
    float: left;
    overflow: hidden;
  }
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; 
    margin: 0; 
  }
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: salmon;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .contacts{
    margin-left: 600px;
    margin-top: 100px;
    letter-spacing: 10px;
  }
  .footer{
    text-align: center;
  }
