<section class="contacts">
    <h1 style="color: mediumblue;">Janine Grace P. Suello</h1>
    <ul>
        <img src="/img/IMG_20220803_065411_048.webp" alt="jpg" class="pic">
        <li><strong>Facebook:</strong> <a href="https://web.facebook.com/profile.php?id=100084288098560">Janine Grace</a></li>
        <li><strong>Gmail:</strong> <a href="mailto:20221637@nbsc.edu.ph">20221637@nbsc.edu.ph</a></li>
        <li><strong>GitHub:</strong> <a href="https://github.com/JanineSuello">JanineSuello</a></li>
        <li><strong>Contact Number:</strong> 0953 459 7561</li>
    </ul>
</section>